matplotlib==3.0.2
numpy==1.22.0
PyYAML==5.4
scikit-learn==0.20.2
pytorch_transformers==1.2.0
transformers==4.5.0
tqdm==4.32.0
torch==1.6.0
mlconf==0.0.7
xxhash==2.0.0
intervaltree==3.1.0
faiss-cpu==1.6
